*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0 auto;
}

body{
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    max-width: 480px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.container{
    max-width: 480px;
    margin: 14px 0;
}

.container span{
    font-size: 16px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    background-color: #d4d4d4;
    margin-top: 20px;
}

.btn{
    height: 50px;
    background-color: rgb(12, 0, 117);
    color: whitesmoke;
    border: 0;
    border-radius: 4px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;   
}

.container-senha{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
}

.senha{
    height: 60px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0, 0.50);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .senha:hover{
    background-color: rgb(0, 0, 0, 0.30);
} */

.copiar{
    position: relative;
    text-align: center;
    top: 20px;
    padding: 6px 8px;
    border-radius: 6px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.hide{
    display: none;
}

.container-senha:hover .copiar{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}